{% extends "layout/basic.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Скіньце Ваш пароль</h1>
    {% if validlink %}
        <p>Калі ласка, увядзіце новы пароль двойчы:</p>
        <form action="." method="post">
        	{% csrf_token %}
	        {{ form.as_p }}
        <p><input type="submit" value="Змяніць мой пароль" /></p>
        </form>
    {% else %}
        <p>Спасылка аказалася памылковай, магчыма, ёй ужо скарысталіся. Калі ласка, зрабіце новы запыт.</p>
    {% endif %}
{% endblock %}
