{% extends "layout/basic.html" %}

{% block title %}Share a movie{% endblock %}

{% block content %}
    {% if sent %}
       <h2>E-mail паспяхова адпраўлены</h2>
        <br>
        <p>"{{ movie.title }}" адасланы на адрас {{ form.cleaned_data.to_email }}.</p>
        <p><a href="{% url 'movie:MovieDetail' movie.pk %}">Назад да адасланага відэа</a></p>
    {% else %}
        <h2>Share "{{ movie.title }}" by e-mail</h2>
        <br>
        <form action="." method="post">
            {{  form.as_p }}{% csrf_token %}
            <input type="submit" value="Send e-mail">
        </form>
    {% endif %}
{% endblock %}
