{% extends "layout/basic.html" %}

{% block title %}{{ object.author }}{% endblock %}

{% block content %}
    <h2>{{ object }}</h2>
    <h3>Аўтар: </h3>
        <ul >
            {% for publication in object.publications.all %}
                <li >
                    <a href="{% url 'work_detail' publication.pk %}"> {{ publication }}</a>
                </li>
            {% endfor %}
        </ul>
    <h3>Удзельнік: </h3>
            <ul >
            {% for role in object.role_set.all %}
                <li >
                    <a href="{% url 'movie:MovieDetail' role.movie.id %}"> {{ role.movie }}</a>:
                    {{ role.participation }}
                </li>
            {% endfor %}
        </ul>
    <h3>Рэжысёр: </h3>
        <ul >
              {% for movie in object.directed_by.all %}
                <li >
                 <a href="{% url 'movie:MovieDetail' movie.id %}"> {{ movie.title }}</a>
                </li>
              {% endfor %}
        </ul>

{% endblock %}
