{% extends "layout/basic.html" %}

{% block title %}{{ authors }}{% endblock %}

{% block content %}
    <h2>{{ authors }}</h2>
    <h3>Writer</h3>
        <ul >
            {% for work in works %}
                <li >
                <a href="{% url 'work_detail' work.pk %}"> {{ work }}</a>
                </li>
            {% endfor %}
        </ul>
    <h3>Partisipator</h3>
            <ul >
            {% for role in object.role_set.all %}
                <li >
                    <a href="{% url 'movie:MovieDetail' role.movie.id %}"> {{ role.movie }}</a>:
                    {{ role.participation }}
                </li>
            {% endfor %}
        </ul>
    <h3>Director</h3>
        <ul >{{ movie }}
             {% for movie in movies %}
                <li >
                 <a href="{% url 'movie:MovieDetail' movie.id %}"> {{ movie }}</a>
                <p>test</p>
                </li>
             {% endfor %}
        </ul>

{% endblock %}