{% extends "layout/basic.html" %}

{% block content %}
    {% if tag %}
        <h3>Stones tagged with "{{ tag.name }}"</h3>
    {% endif %}
{% for stone in stones %}
<div class="b">
	<h2><a href="{% url 'stone_detail' stone.pk %}">{{ stone.title }}</a></h2>
	<p><a href="{{ stone.typ.pk }}/">Тып: {{ stone.typ.name }}</a></p>
	<p>Легенда: {{ stone.legend }} </p>
	<p>Месцазнаходжанне: {{ stone.place }}</p>
    <p>Колькасць каментароў: {{ stone.approved_comment.count }}</p>
    <p class="tagi">Тэгі:
    {% for stone_tag in stone.tags.all %}
        <a class="tagi" href="{% url 'index_by_tag' stone_tag.slug %}">
            {{ stone_tag.name}}</a>{%  if not forloop.last %}, {% endif %}
    {% endfor %}  </p>
</div>
{% endfor %}
{% endblock %}	


