{% extends "layout/basic.html" %}

{% block content %}
   <div>
	<h2> {{ stones.title}} </h2>
   <h4>Тэгі: </h4>
    <p class="tags">{{ stones.tags.all|join:", " }}</p>
   <h4>Легенда: </h4>
	<p>{{ stones.legend }} </p>
   <h4>Месцазнаходжанне: </h4>
	<p>{{ stones.place }}</p>
   <h4>Тып: </h4>
	<p><a href="{% url "by_typ" typ_id=stones.typ.pk %}">{{ stones.typ.name }}</a></p>
   <h4>Згадкі: </h4>
	{% for work in stones.mentions.all %}
        <p><a href="{% url 'work_detail' work.pk %}"> {{ work }}</a></p>
	{% endfor %}
    <h3>Фотагалерэя: </h3>
    <ul class="stone-image list-inline" >
        {% for i in object.stonesimage_set.all %}
            <li class="list-inline-item" >
                <img class="newimage" src="{{ i.image.url }}" alt="{{ i.id }}" width="400" height="300" >
            </li>
        {% endfor %}
   </ul>

    {% if image_form %}
        <div>
            <h3 >Запампаваць фота</h3>
            <p>вертыкальныя фота будуць абрэзаныя</p>
        <form method="post"
              enctype="multipart/form-data"
              action="{% url 'StonesImageUpload' stones.pk %}" >
            {% csrf_token %}
            {{ image_form.as_p }}
            <p ><button class="btn btn-outline-info" type="submit">Запампаваць</button> </p>
        </form>
        </div>
    {% endif %}
     </div>
    <h3 >Дадаць каментар</h3>
   <a class="btn btn-outline-info" href="{% url 'add_comment_to_stone' pk=stones.pk %}">Каментаваць</a>
{% for comment in stones.comment.all %}
    {% if comment.approved_comment %}
        <p>Камент № {{ forloop.counter }}</p>
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.commentator }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
    {% empty %} <p>Тут пакуль няма каментаў. Вы можаце пакінуць свой.</p>
{%  endfor %}
    <!-- <p><a href="{% url "post_share" stones.pk %}">Share this stone</a></p> -->
{% endblock %}