{% extends "layout/basic.html" %}

{%  block title %}{{  objects.title }}{% endblock %}

{% block content %}
    <h2>{{ object }}</h2>
    {% if user.is_authenticated %}
         <a class="btn btn-default" href="{% url 'movie:movie_new' pk=movie.pk %}">
             <span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    <h4 >Сюжэт:</h4>
    <p>{{ object.plot }}</p>
         <h4 >Рэжысёры:</h4>
            {% for role in object.director.all %}
                <li >
                    <a href="{% url 'authors_detail' object.id %}"> {{ role }}</a>
                </li>
            {% endfor %}
<p></p>
     <h4 >Стваральнікі:</h4>
            {% for role in object.creators.all %}
                <li >
                    <a href="{% url 'authors_detail' object.id %}"> {{ role }}</a>: {{ object.partisipation }}
                </li>
            {% endfor %}
    <p></p>
    <h4 >Тып відэа:</h4>
        <p>{{  object.get_rating_display }}</span>
  {% endblock %}
